<p id="notice"><%= notice %></p>
<!-- beginning of search form -->
<div class="search">
  <%= form_tag search_path, method: "get", class: "navbar-form navbar-left" do |f| %>
    <%= text_field_tag :term, params[:term],placeholder:"price" %>
    <%= submit_tag 'search', class: 'btn btn-primary' %>
    <!-- end of search form -->
  <% end %>
  <!-- end of search div -->
</div>
<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Description</th>
      <th>Address</th>
      <th>Number of rooms</th>
      <th>Max Guest</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.user.name %></td>
        <td><%= listing.description %></td>
        <td><%= listing.address %></td>
        <td><%= listing.number_of_rooms %></td>
        <td><%= listing.max_guest %></td>
        <td><%= listing.price %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>

<%= will_paginate @listing %>
