<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @listing.user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Number of rooms:</strong>
  <%= @listing.number_of_rooms %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
