<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @listing.user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Number of rooms:</strong>
  <%= @listing.number_of_rooms %>
</p>

<p>
  <strong>Picture</strong>
  <% @listing.photos.each do |photo| %>
    <%= image_tag photo.image.thumb.url %>
  <% end %>
  <%# @listing.photos.each do |photo| %>
      <%# cl_image_tag(photo.url) %>
  <%# end %>
</p>


<%= render "bookings/form" %>
<%= link_to 'Edit', edit_listing_path(@listing) %>
<%= link_to 'Back', listings_path %>
